Versions/

build/
dist/
assets/
astratify-go.py

astratify-go.png

commands.config
astratify-go.config

main.spec
astratify-go.spec

private.key
public.key

updater/
config.json 

serviceAccountKey.json

tmp/
versions/