Versions/

build/
dist/
assets/
astratify-go.py

astratify-go.png

commands.config
astratify-go.config

main.spec
astratify-go.spec

private.key
public.key

updater/
config.json 
config.txt
asgo.crt
key.pem

serviceAccountKey.json

tmp/
versions/

cert.pfx
Astratify-Go_Setup.exe